In [198]:
from scipy.io import arff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [199]:
data = arff.loadarff('seismic-bumps.arff')
df = pd.DataFrame(data[0])

df

,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,ghazard,nbumps,nbumps2,nbumps3,nbumps4,nbumps5,nbumps6,nbumps7,nbumps89,energy,maxenergy,class
0,b'a',b'a',b'N',15180.0,48.0,-72.0,-72.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
1,b'a',b'a',b'N',14720.0,33.0,-70.0,-79.0,b'a',1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2000.0,2000.0,b'0'
2,b'a',b'a',b'N',8050.0,30.0,-81.0,-78.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
3,b'a',b'a',b'N',28820.0,171.0,-23.0,40.0,b'a',1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3000.0,3000.0,b'0'
4,b'a',b'a',b'N',12640.0,57.0,-63.0,-52.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2579,b'b',b'a',b'W',81410.0,785.0,432.0,151.0,b'b',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
2580,b'b',b'a',b'W',42110.0,555.0,213.0,118.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
2581,b'b',b'a',b'W',26960.0,540.0,101.0,112.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
2582,b'a',b'a',b'W',16130.0,322.0,2.0,2.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'
2583,b'a',b'a',b'W',12750.0,235.0,-10.0,-10.0,b'a',0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'0'

In [200]:
df = df.drop('nbumps6', axis = 1)\
            .drop('nbumps7', axis = 1)\
           .drop('nbumps89',    axis = 1)\
.drop('nbumps', axis = 1)\
.drop('nbumps2', axis = 1)\
.drop('nbumps3', axis = 1)\
.drop('nbumps4', axis = 1)\
.drop('nbumps5', axis = 1)\

In [201]:
categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
numerical_columns   = [c for c in df.columns if df[c].dtype.name != 'object']
print(categorical_columns)
print(numerical_columns)

['seismic', 'seismoacoustic', 'shift', 'ghazard', 'class']
['genergy', 'gpuls', 'gdenergy', 'gdpuls', 'energy', 'maxenergy']

In [202]:
for c in categorical_columns:
    df[c] = df[c].str.decode(encoding = 'utf-8')

In [203]:
df

,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,ghazard,energy,maxenergy,class
0,a,a,N,15180.0,48.0,-72.0,-72.0,a,0.0,0.0,0
1,a,a,N,14720.0,33.0,-70.0,-79.0,a,2000.0,2000.0,0
2,a,a,N,8050.0,30.0,-81.0,-78.0,a,0.0,0.0,0
3,a,a,N,28820.0,171.0,-23.0,40.0,a,3000.0,3000.0,0
4,a,a,N,12640.0,57.0,-63.0,-52.0,a,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
2579,b,a,W,81410.0,785.0,432.0,151.0,b,0.0,0.0,0
2580,b,a,W,42110.0,555.0,213.0,118.0,a,0.0,0.0,0
2581,b,a,W,26960.0,540.0,101.0,112.0,a,0.0,0.0,0
2582,a,a,W,16130.0,322.0,2.0,2.0,a,0.0,0.0,0
2583,a,a,W,12750.0,235.0,-10.0,-10.0,a,0.0,0.0,0

In [204]:
print(df.shape)
print(df.columns)

(2584, 11)
Index(['seismic', 'seismoacoustic', 'shift', 'genergy', 'gpuls', 'gdenergy',
       'gdpuls', 'ghazard', 'energy', 'maxenergy', 'class'],
      dtype='object')

In [205]:
#categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
#numerical_columns   = [c for c in df.columns if df[c].dtype.name != 'object']
#print(categorical_columns)
#print(numerical_columns)

In [206]:
df.describe()

,genergy,gpuls,gdenergy,gdpuls,energy,maxenergy
count,2.584000e+03,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000
mean,9.024252e+04,538.579334,12.375774,4.508901,4975.270898,4278.850619
std,2.292005e+05,562.652536,80.319051,63.166556,20450.833222,19357.454882
min,1.000000e+02,2.000000,-96.000000,-96.000000,0.000000,0.000000
25%,1.166000e+04,190.000000,-37.000000,-36.000000,0.000000,0.000000
50%,2.548500e+04,379.000000,-6.000000,-6.000000,0.000000,0.000000
75%,5.283250e+04,669.000000,38.000000,30.250000,2600.000000,2000.000000
max,2.595650e+06,4518.000000,1245.000000,838.000000,402000.000000,400000.000000

In [207]:
#from pandas.plotting import scatter_matrix
#scatter_matrix(df, alpha = .01, figsize = (20, 20))
#pass

In [208]:
df.corr()

            genergy     gpuls  gdenergy    gdpuls    energy  maxenergy
genergy    1.000000  0.748020  0.048514  0.071554  0.080828   0.064405
gpuls      0.748020  1.000000  0.293036  0.382906  0.187350   0.164263
gdenergy   0.048514  0.293036  1.000000  0.811944  0.105971   0.108572
gdpuls     0.071554  0.382906  0.811944  1.000000  0.143277   0.143646
energy     0.080828  0.187350  0.105971  0.143277  1.000000   0.989547
maxenergy  0.064405  0.164263  0.108572  0.143646  0.989547   1.000000

In [209]:
df.isnull().values.any()

False

In [210]:
#df['seismic'].value_counts().plot.barh();

In [211]:
#df['seismoacoustic'].value_counts().plot.barh();

In [212]:
df.describe(include = 'all')

,seismic,seismoacoustic,shift,genergy,gpuls,gdenergy,gdpuls,ghazard,energy,maxenergy,class
count,2584,2584,2584,2.584000e+03,2584.000000,2584.000000,2584.000000,2584,2584.000000,2584.000000,2584
unique,2,3,2,NaN,NaN,NaN,NaN,3,NaN,NaN,2
top,a,a,W,NaN,NaN,NaN,NaN,a,NaN,NaN,0
freq,1682,1580,1663,NaN,NaN,NaN,NaN,2342,NaN,NaN,2414
mean,NaN,NaN,NaN,9.024252e+04,538.579334,12.375774,4.508901,NaN,4975.270898,4278.850619,NaN
std,NaN,NaN,NaN,2.292005e+05,562.652536,80.319051,63.166556,NaN,20450.833222,19357.454882,NaN
min,NaN,NaN,NaN,1.000000e+02,2.000000,-96.000000,-96.000000,NaN,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,1.166000e+04,190.000000,-37.000000,-36.000000,NaN,0.000000,0.000000,NaN
50%,NaN,NaN,NaN,2.548500e+04,379.000000,-6.000000,-6.000000,NaN,0.000000,0.000000,NaN
75%,NaN,NaN,NaN,5.283250e+04,669.000000,38.000000,30.250000,NaN,2600.000000,2000.000000,NaN
max,NaN,NaN,NaN,2.595650e+06,4518.000000,1245.000000,838.000000,NaN,402000.000000,400000.000000,NaN

In [213]:
#seismic_unique = df['seismic'].unique()
#seismic_unique.insert
#for c in categorical_columns:
    #print(c, df[c].unique())
#print(seismic_unique)

In [214]:
df_describe = df.describe(include = [object])
for c in categorical_columns:
    df[c] = df[c].fillna(df_describe[c]['top'])

In [215]:
binary_columns    = [c for c in categorical_columns if df_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if df_describe[c]['unique'] > 2]
print(binary_columns, nonbinary_columns)

['seismic', 'shift', 'class'] ['seismoacoustic', 'ghazard']

In [216]:
df['seismic'].unique()

array(['a', 'b'], dtype=object)

In [217]:
df.at[df['shift'] == 'N', 'shift'] = 0
df.at[df['shift'] == 'W', 'shift'] = 1
df['shift'].describe()

count    2584.000000
mean        0.643576
std         0.479035
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: shift, dtype: float64

In [218]:
df.at[df['seismic'] == 'a', 'seismic'] = 0
df.at[df['seismic'] == 'b', 'seismic'] = 1
df['seismic'].describe()

count    2584.000000
mean        0.349071
std         0.476769
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: seismic, dtype: float64

In [219]:
#df[nonbinary_columns]

In [220]:
df_nonbinary = pd.get_dummies(df[nonbinary_columns])
print(df_nonbinary.columns)

Index(['seismoacoustic_a', 'seismoacoustic_b', 'seismoacoustic_c', 'ghazard_a',
       'ghazard_b', 'ghazard_c'],
      dtype='object')

In [221]:
len(df_nonbinary.columns)

6

In [222]:
df_numerical = df[numerical_columns]
df_numerical.describe()

,genergy,gpuls,gdenergy,gdpuls,energy,maxenergy
count,2.584000e+03,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000
mean,9.024252e+04,538.579334,12.375774,4.508901,4975.270898,4278.850619
std,2.292005e+05,562.652536,80.319051,63.166556,20450.833222,19357.454882
min,1.000000e+02,2.000000,-96.000000,-96.000000,0.000000,0.000000
25%,1.166000e+04,190.000000,-37.000000,-36.000000,0.000000,0.000000
50%,2.548500e+04,379.000000,-6.000000,-6.000000,0.000000,0.000000
75%,5.283250e+04,669.000000,38.000000,30.250000,2600.000000,2000.000000
max,2.595650e+06,4518.000000,1245.000000,838.000000,402000.000000,400000.000000

In [223]:
df_numerical = (df_numerical - df_numerical.mean(axis = 0))/df_numerical.std(axis = 0)
df_numerical.describe()

,genergy,gpuls,gdenergy,gdpuls,energy,maxenergy
count,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03
mean,-3.542488e-16,-1.529135e-16,-9.604890e-17,-1.501422e-16,1.129579e-15,-8.477266e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-3.932911e-01,-9.536602e-01,-1.349316e+00,-1.591173e+00,-2.432796e-01,-2.210441e-01
25%,-3.428549e-01,-6.195286e-01,-6.147455e-01,-6.413030e-01,-2.432796e-01,-2.210441e-01
50%,-2.825366e-01,-2.836197e-01,-2.287848e-01,-1.663681e-01,-2.432796e-01,-2.210441e-01
75%,-1.632196e-01,2.317961e-01,3.190305e-01,4.075115e-01,-1.161454e-01,-1.177247e-01
max,1.093107e+01,7.072608e+00,1.534660e+01,1.319513e+01,1.941362e+01,2.044283e+01

In [224]:
df = pd.concat((df_numerical, df_nonbinary, df[binary_columns]), axis = 1)
print(df.shape)

(2584, 15)

In [225]:
df.isnull().values.any()

False

In [226]:
df.describe()

,genergy,gpuls,gdenergy,gdpuls,energy,maxenergy,seismoacoustic_a,seismoacoustic_b,seismoacoustic_c,ghazard_a,ghazard_b,ghazard_c,seismic,shift
count,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03,2.584000e+03,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000,2584.000000
mean,-3.542488e-16,-1.529135e-16,-9.604890e-17,-1.501422e-16,1.129579e-15,-8.477266e-16,0.611455,0.369969,0.018576,0.906347,0.082043,0.011610,0.349071,0.643576
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.487514,0.482889,0.135048,0.291402,0.274484,0.107143,0.476769,0.479035
min,-3.932911e-01,-9.536602e-01,-1.349316e+00,-1.591173e+00,-2.432796e-01,-2.210441e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-3.428549e-01,-6.195286e-01,-6.147455e-01,-6.413030e-01,-2.432796e-01,-2.210441e-01,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,-2.825366e-01,-2.836197e-01,-2.287848e-01,-1.663681e-01,-2.432796e-01,-2.210441e-01,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,-1.632196e-01,2.317961e-01,3.190305e-01,4.075115e-01,-1.161454e-01,-1.177247e-01,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,1.093107e+01,7.072608e+00,1.534660e+01,1.319513e+01,1.941362e+01,2.044283e+01,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [227]:
X = df.drop('class', axis = 1) # выбрасываем столбец 'class'
y = df['class']
feature_names = X.columns

In [228]:
type(feature_names)

pandas.core.indexes.base.Index

In [229]:
feature_names

Index(['genergy', 'gpuls', 'gdenergy', 'gdpuls', 'energy', 'maxenergy',
       'seismoacoustic_a', 'seismoacoustic_b', 'seismoacoustic_c', 'ghazard_a',
       'ghazard_b', 'ghazard_c', 'seismic', 'shift'],
      dtype='object')

In [230]:
X = X.to_numpy()

In [231]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
2579    0
2580    0
2581    0
2582    0
2583    0
Name: class, Length: 2584, dtype: object

In [232]:
y = y.to_numpy()

In [233]:
print(X.shape)
print(y.shape)
N, d = X.shape

(2584, 14)
(2584,)

In [234]:
type(X)

numpy.ndarray

In [235]:
type(y)

numpy.ndarray

In [248]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 42)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 

print(N_train, N_test)

1550 1034

In [249]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

knn = KNeighborsClassifier(n_neighbors = 20)
#knn.set_params(n_neighbors=10)
knn.fit(X_train, y_train)

knn_predicted = knn.predict(X_test)
print(np.mean(y_test  != knn_predicted))
print(print(confusion_matrix(y_test, knn_predicted)))

0.06866537717601548
[[963   0]
 [ 71   0]]
None

In [250]:
from sklearn.model_selection import GridSearchCV
nnb = [1, 3, 5, 10, 15, 20, 25, 35, 45, 55]
knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid = {'n_neighbors': nnb}, cv=10)
grid.fit(X_train, y_train)

best_cv_err = 1 - grid.best_score_
best_n_neighbors = grid.best_estimator_.n_neighbors
print(best_cv_err, best_n_neighbors)

0.06387096774193546 15

In [251]:
from sklearn.svm import SVC
svc = SVC(gamma='auto', class_weight='balanced')
svc.fit(X_train, y_train)

svc_predicted = svc.predict(X_test)
print(np.mean(y_test  != svc_predicted))
print(print(confusion_matrix(y_test, svc_predicted)))

0.2775628626692456
[[704 259]
 [ 28  43]]
None

In [243]:
from sklearn.model_selection import GridSearchCV
Cs = 10.**np.arange(-5, 5)
gamma_array = 10.**np.arange(-5, 5)
svc = SVC(gamma='auto', class_weight='balanced')
grid = GridSearchCV(svc, cv=3, param_grid = {'C': Cs, 'gamma': gamma_array})
grid.fit(X_train, y_train)

best_cv_err = 1 - grid.best_score_
best_C = grid.best_estimator_.C
print(best_cv_err, best_C)

0.06372840976771887 0.0001

D:\Anaconda\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)